<html>
<head>
	<title>{{ page.title }}</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script type="text/javascript" src="/scripts/playthings.js"></script>
	<link href="/css/default.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="container">
		<div id="sidebar">
			<ul>
                {% for link in site.navigation %}
                	{% assign current = 'link' %}
                    
                    {% if page.url == link.url or page.layout == link.layout %}
                    	{% assign current = 'current' %}
                    {% endif %}
                
                    <li>
                      <a class="{{ current }}{{ forloop.index }}" href="{{ link.url }}">{{ link.text }}</a>
                    </li>
                {% endfor %}
			</ul>
			<div class="title">
				<div class="l1" name="title1">D o m i n i q u e</div>
				<div class="l2" name="title2">D i e r i c k x</div>
				<div class="l4" name="title3">P e r s o n a l</div>
				<div class="l3" name="title4">W e b s i t e</div>
			</div>
		</div>
		<div id="content">
			{{ content }}
		</div>
	</div>
</body>
</html>