<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	
	<title>dominiek &raquo; {{ page.title }}</title>
  
	<!-- Included CSS Files -->
	<link rel="stylesheet" href="/min/min.css">
	<!-- End Combine and Compress These CSS Files -->

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="/min/min-ie.css">
	<![endif]-->

	
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    
	<!-- Included JS Files -->
	<script src="/min/min.js"></script>
</head>
<body>

	<!-- container -->
	<div class="container">
        <div class="row spacer"></div>
            
		<div class="row">
			<div class="twelve columns">
            	<div id="header">  
                	<a href="/index.html" alt="Home" title="Home">
	    				<img src="/img/header.png" class="stretch" alt="" />
                     </a>
                </div>
			</div>
		</div>
		
        <div class="row spacer"></div>
        
		<div class="row">
			<div class="ten columns">			
				<!-- Grid Example -->
				<div class="row">
					<div class="twelve columns">
						<div class="panel">
							<!-- <h3>{{ page.title }}</h3> -->
							{{ content }}
						</div>
					</div>
				</div>
			</div>

			<div class="two columns nomargin">				
				<div class="menu">
					<ul>
						{% for link in site.navigation %}
							{% assign current = 'link' %}
						    
						    {% if page.url == link.url or page.layout == link.layout %}
						    	{% assign current = 'current' %}
						    {% endif %}
				
						    <li>
						      <a class="{{ current }}{{ forloop.index }}" href="{{ link.url }}">{{ link.text }}</a>
						    </li>
						{% endfor %}
					</ul>
                    
                    <div class="books">
                     <div class="title">&raquo; Reading (<a href="books.html">see all</a>)</div>
                <iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=FFFFFF&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=dominiekeu-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=0596806752" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=FFFFFF&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=dominiekeu-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=0465067107" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=FFFFFF&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=dominiekeu-20&o=1&p=8&l=as1&m=amazon&f=ifr&ref=tf_til&asins=1934356581" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

				</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns footer">
				&copy; 2012 Dominique Dierickx | <a href="/rss.xml">RSS</a> | <a href="/atom.xml">Atom</a> | Made using <a href="http://github.com/mojombo/jekyll" target="_blank">Jekyll</a>, <a href="http://github.com/zurb/foundation" target="_blank">Foundation</a>
			</div>
		</div>
	</div>
	<!-- container -->
	
	<script type="text/javascript">
		$(function() {
			$("a[class='lbpopup']").lightBox(); // Select all links in the page
		});
	</script>
</body>
</html>
