html {
	background-color: rgba(45, 0, 95, 0.78);
}

body {
	color: white;
}


.container {
    max-width: 800px;
}

.header {
    margin-top: 12rem;
}

.social {
	text-align: center;
	margin-top: 25px;
}

.social a {
    color: white;
}

.social a:hover {
    color: blue;
}
