body
{
	background-image: url('/img/bg.png');
	background-repeat: repeat;
}

.menu
{
}

.header
{
	background-image: url('/img/header.png');
	margin-top: 20px;
	margin-bottom: 15px;
	color: #FFFFFF;
}

.header h2
{
	color: #FFFFFF;
}

.nomargin
{
	margin-left: 0px;
}

.menu l1
{
	background: #FF1921;
	text-transform:uppercase;
	float: left;
	text-align: center;
	color: white;
	padding:2px;
}

.menu l2
{
	background: #19BAFF;
	text-transform:uppercase;
	float: left;
	text-align: center;
	color: white;
	padding:2px;
}

.menu l3
{
	background: #47FF19;
	text-transform:uppercase;
	float: left;
	text-align: center;
	color: white;
	padding:2px;
}

.menu l4
{
	background: #FF5E19;
	text-transform:uppercase;
	float: left;
	text-align: center;
	color: white;
	padding:2px;
}

.menu ul
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style-type: none;
	clear: left;
}

.menu ul li
{
	text-align: left;
	font-size: 25px;
	text-transform:uppercase;
	margin: 15px;
}

.menu ul li a
{
	text-decoration: none;
	color: black;
}

.menu ul li a:hover
{

}

.menu ul li a.link1:hover
{
	border-bottom: 3px solid #FF1921;
}

.menu ul li a.current1
{
	border-bottom: 3px solid #FF1921;
}

.menu ul li a.link2:hover
{
	border-bottom: 3px solid #19BAFF;
}

.menu ul li a.current2
{
	border-bottom: 3px solid #19BAFF;
}

.menu ul li a.link3:hover
{
	border-bottom: 3px solid #FF5E19;
}

.menu ul li a.current3
{
	border-bottom: 3px solid #FF5E19;
}

.menu ul li a.link4:hover
{
	border-bottom: 3px solid #47FF19;
}

.menu ul li a.current4
{
	border-bottom: 3px solid #47FF19;
}
